@import url("https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2? family= IBM+Plex+Sans+Arabic:wght@200 & display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
.botones, .botonRojo, .botonVerde, .botonAzul {
  background-color: blueviolet;
  color: aqua;
  border-radius: 20px;
  border: 1px solid black; }
  .botones:hover, .botonRojo:hover, .botonVerde:hover, .botonAzul:hover {
    filter: opacity(85%); }

.botonRojo {
  background-color: red;
  color: yellow; }

.botonVerde {
  background-color: #11ad11;
  color: yellow; }

.botonAzul {
  color: #e2bd2b; }

.letraChica {
  font-size: 1rem;
  font-weight: 100; }

.letraGrande {
  font-size: 2rem;
  font-weight: 700;
  color: black; }

.botonWhatsApp {
  color: c; }

.botonFacebook {
  color: #56e932; }

.botonInstagram {
  color: red; }

.col-1 {
  width: 10%; }

.col-2 {
  width: 20%; }

.col-3 {
  width: 30%; }

.col-4 {
  width: 40%; }

.col-5 {
  width: 50%; }

.col-6 {
  width: 60%; }

.col-7 {
  width: 70%; }

.col-8 {
  width: 80%; }

.col-9 {
  width: 90%; }

.col-10 {
  width: 100%; }

.green {
  color: green; }

.yellow {
  color: yellow; }

.black {
  color: black; }

.footer, .footerLetras {
  background-color: blueviolet;
  color: aqua;
  border-radius: 5px;
  border: 1px solid #e67272; }
  .footer:hover, .footerLetras:hover {
    filter: opacity(85%); }

.footerLetras {
  background-color: #bf3340;
  color: #ffc107; }

.footerMedios {
  color: #bf3340; }

.footer-logo img {
  max-height: 100px; }

* {
  font-family: 'Arima Madurai', cursive;
  margin: 0%;
  padding: 0%;
  box-sizing: border-box; }

body {
  background-color: rgba(0, 0, 0, 0);
  background-repeat: repeat;
  background-image: url(/imagenes/posiblefondo.jpg);
  width: 100%;
  height: 100%;
  opacity: 1;
  visibility: visible;
  z-index: 30;
  font-size: 16px; }

/* grid */
.imagen {
  width: 100%; }

.imagen img {
  width: 100%;
  height: 100%;
  object-fit: cover; }

.galeria {
  width: 100%;
  margin: auto;
  display: grid;
  padding: 1.25em;
  grid-gap: 0.625em;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 9.375em;
  column-gap: .5em;
  row-gap: .5em;
  background-color: #64cf64; }

.container_Lista {
  background-color: rgba(0, 0, 0, 0.719); }

.Direccion {
  background-color: #f8f6f6; }

.Direccion2 {
  color: #f8f6f6; }

.Direccion3 {
  background-color: #f8f6f6; }

.Direccion4 {
  color: #f8f6f6; }

.Subcribete {
  color: #f8f6f6; }

.Novedades {
  color: #f8f6f6; }

.Company {
  color: #f8f6f6; }

.Img_Carru {
  width: 620px;
  height: 450px;
  object-fit: initial; }

.label2 {
  color: #f8f6f6;
  font-size: x-large; }

.Contactos2 {
  width: 450px; }

.ColorPrecio {
  background-color: rgba(0, 0, 0, 0.719); }

.Color_Item {
  background-color: #f8f6f6; }

.Medidas_Carru {
  width: 20%;
  height: 20%;
  margin-left: 37%; }

.GridContainer {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 34.375em;
  object-fit: cover; }

.GridItems {
  display: grid;
  margin: auto;
  column-gap: .5em; }

h1 {
  color: #f8f9fa;
  text-decoration: underline;
  font-family: 'Anton', sans-serif;
  text-align: center;
  margin-top: 2.5em;
  margin-bottom: 0.625em;
  font-size: 6.125em; }

h2 {
  color: #cd2727;
  font-family: 'Anton', sans-serif;
  text-align: center;
  margin-top: 1.875 em;
  margin-bottom: 0.625 em;
  font-size: 1.875 em;
  padding: 1.25 em;
  margin: 1.25 em; }

h3 {
  color: blanchedalmond;
  font-family: 'Anton', sans-serif;
  text-align: left;
  margin-top: 3.75em;
  margin-bottom: 0.625em;
  font-size: 1.875em;
  padding: 1.25em;
  margin: 1.25em; }

.Pag_Original {
  width: 200px;
  background-color: aquamarine; }

.info {
  width: 200px;
  background-color: #514c0e;
  border: solid;
  border-width: 5px;
  padding-right: 10px;
  border-color: #254e77; }

.Container_Texto__uno {
  color: #f3ffea;
  font-size: 1.25em; }

.img__one {
  text-align: right;
  margin: 3.125em;
  display: block;
  margin-top: -11.875em; }

.info {
  font-size: 30;
  text-align: justify;
  color: #d9d9df; }

.logo {
  width: 100px;
  height: 220px;
  float: left;
  margin: 0 0 5%;
  padding: 5% 0 0 0;
  background: url(/imagenes/marca-head.png) no-repeat top;
  background-size: 100% auto; }

header {
  background-color: #2c3136; }

.redes {
  display: flex;
  background-color: #88ff00; }

.precio {
  color: antiquewhite; }

/* trasformacion */
.nosotros {
  background: #f08b5a;
  background-image: linear-gradient(90deg, #ffffcc, #fff1a9, #fee087, #fec966, #feab4b, #fd893c, #fa5c2e, #ec3023, #d31121, #af0225, #af0225);
  text-align: center;
  text-overflow: ellipsis;
  font-size: 25px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  transition: height 2s; }

.nosotros:hover {
  height: 190px;
  width: 100%; }

/* LInea de Tiempo */
@keyframes aparecer {
  0% {
    width: 100px; }
  25% {
    width: 300px; }
  50% {
    width: 200px;
    background-color: red; }
  75% {
    width: 300px; }
  100% {
    width: 100px;
    background-color: green; } }

.nosotros1 {
  width: 100px;
  height: 50px;
  background-color: #08c908;
  animation-name: aparecer;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  animation-duration: 10s;
  animation-delay: 5s; }

.precio.tipo.vinos {
  color: aliceblue; }

.VinosProductos {
  width: 12.5em;
  display: inline-block; }

.VinosProductos__image {
  width: 100%;
  margin: 0.625em; }

.VinosProductos__malbec__text {
  display: flex;
  flex-direction: column;
  border: 10px solid #742800;
  background: #ebc692;
  height: auto;
  width: 200px;
  padding: 10px;
  margin: 10px; }

.VinosProductos__cabernet__text {
  border: 10px solid #742800;
  background: #ebc692;
  height: auto;
  width: 200px;
  padding: 10px;
  margin: 10px; }

.Precio__c {
  margin-top: 0.625em;
  color: #eff3f7; }

.VinoProductos__Syrah__text {
  display: flex;
  flex-direction: column;
  border: 10px solid #742800;
  background: #ebc692;
  height: auto;
  width: 200px;
  padding: 10px;
  margin: 10px; }

.VinosProductos__Merlot__text {
  display: flex;
  flex-direction: column;
  border: 10px solid #742800;
  background: #ebc692;
  height: auto;
  width: 200px;
  padding: 10px;
  margin: 10px;
  animation-name: vino;
  animation-duration: 4s;
  position: relative; }

@keyframes vino {
  0% { }
  50% { }
  100% { } }

/* .VinosProductos__Merlot__text:hover */
.SocialSharing {
  position: fixed;
  left: 0;
  top: 12.5em; }

/* media q */
@media (max-width: 1200px) {
  body {
    font-size: 14px; }
  .nosotros {
    font-size: 13;
    font-family: 'Times New Roman', Times, serif; }
  .galeria {
    grid-template-columns: 2fr; }
  .BotellasPortadas {
    width: 35%;
    height: 30%; }
  .GridContainer {
    width: 100%;
    display: list-item;
    justify-content: center; } }

@media (max-width: 800px) {
  body {
    font-size: 12px; }
  .nosotros {
    font-size: 12px; }
  .galeria {
    grid-template-columns: 2fr; }
  .logo {
    width: 3%;
    height: 85px; }
  .GridContainer {
    width: 100%;
    display: list-item;
    justify-content: center; } }

@media (max-width: 768px) {
  body {
    font-size: 12px; }
  .nosotros {
    font-size: 12px; }
  .galeria {
    grid-template-columns: 2fr; }
  .logo {
    width: 3%;
    height: 100px; }
  .GridContainer {
    width: 100%;
    display: list-item;
    justify-content: center; } }

@media (max-width: 567px) {
  body {
    font-size: 6px; }
  .nosotros {
    font-size: 12px; }
  .galeria {
    grid-template-columns: 1fr; }
  .logo {
    width: 3%;
    height: 53px; }
  .GridContainer {
    width: 100%;
    display: list-item;
    justify-content: center; } }


    * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
   
}
img {
    width: 100%;
    margin-bottom: 10px;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    box-shadow: 0px 5px 4px 3px rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
}
h1 {
    color: rgb(1, 4, 14);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 50px;
}
#boton-carrito {
    border: none;
    color: royalblue;
    font-size: 40px;
    background-color: white;
    border-radius: 50%;
    padding: 10px 20px;
    transition: all .3s;
}
#boton-carrito:hover {
    cursor: pointer;
    color: white;
    background-color: royalblue;
}
#boton-carrito:focus {
    outline: none;
}

#contenedor-productos {
    max-width: 1200px;
    margin: 60px auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

p {
    line-height: 1.8;
}
.producto {
    max-width: 20%;
    padding: 10px;
    margin: 10px;
    margin-bottom: 20px;
    box-shadow: 2px 6px 3px 3px rgba(0, 0, 0, 0.3);
}
.precioProducto {
    font-weight: 700;
}
.boton-agregar {
    background-color: royalblue;
    color: white;
    font-size: 18px;
    font-weight: 700;
    padding: 5px;
    border: none;
}
.boton-agregar:hover {
    cursor: pointer;
}
.boton-agregar:focus {
    outline: none;
}

.modal-contenedor {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s;
    opacity: 0;
    visibility: hidden;
}

.modal-active {
    opacity: 1;
    visibility: visible;
}

.modal-carrito {
    position: relative;
    background-color: white;
    min-width: 500px;
    padding: 20px;
    margin-top: -100%;
    transition: all .5s;
}

.modal-active .modal-carrito {
    margin-top: 0;
}

.modal-carrito h3 {
    color: royalblue;
    padding-bottom: 5px;
}
.modal-carrito #carritoCerrar {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 20px;
    color: royalblue;
    border: none;
    background-color: white;
}
.modal-carrito #carritoCerrar:hover {
    cursor: pointer;
}
.modal-carrito #carritoCerrar:focus {
    outline: none;
}
.modal-carrito .precioProducto {
    padding-top: 10px;
    
}

.productoEnCarrito {
    border-left: 5px solid lightblue;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    margin: 5px 0;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
}
.productoEnCarrito:hover {
    border-left: 5px solid royalblue;
}

.boton-eliminar {
    background-color: white;
    color: red;
    border: none;
    font-size: 20px;
}

.boton-eliminar:hover {
    cursor: pointer;
}
.boton-eliminar:focus {
    outline: none;
}

#boton-carrito {
    border: none;
    color: royalblue;
    font-size: 40px;
    background-color: white;
    border-radius: 50%;
    padding: 10px 20px;
    transition: all .3s;
}
#boton-carrito:hover {
    cursor: pointer;
    color: white;
    background-color: royalblue;
}
#boton-carrito:focus {
    outline: none;
}

#contenedor-productos {
    max-width: 1200px;
    margin: 60px auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

p {
    line-height: 1.8;
}
.producto {
    max-width: 20%;
    padding: 10px;
    margin: 10px;
    margin-bottom: 20px;
    box-shadow: 2px 6px 3px 3px rgba(0, 0, 0, 0.3);
}
.precioProducto {
    font-weight: 700;
}
.boton-agregar {
    background-color: royalblue;
    color: white;
    font-size: 18px;
    font-weight: 700;
    padding: 5px;
    border: none;
}
.boton-agregar:hover {
    cursor: pointer;
}
.boton-agregar:focus {
    outline: none;
}

.modal-contenedor {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s;
    opacity: 0;
    visibility: hidden;
}

.modal-active {
    opacity: 1;
    visibility: visible;
}

.modal-carrito {
    position: relative;
    background-color: white;
    min-width: 500px;
    padding: 20px;
    margin-top: -100%;
    transition: all .5s;
}

.modal-active .modal-carrito {
    margin-top: 0;
}

.modal-carrito h3 {
    color: royalblue;
    padding-bottom: 5px;
}
.modal-carrito #carritoCerrar {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 20px;
    color: royalblue;
    border: none;
    background-color: white;
}
.modal-carrito #carritoCerrar:hover {
    cursor: pointer;
}
.modal-carrito #carritoCerrar:focus {
    outline: none;
}
.modal-carrito .precioProducto {
    padding-top: 10px;
    
}

.productoEnCarrito {
    border-left: 5px solid lightblue;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    margin: 5px 0;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
}
.productoEnCarrito:hover {
    border-left: 5px solid royalblue;
}

.boton-eliminar {
    background-color: white;
    color: red;
    border: none;
    font-size: 20px;
}

.boton-eliminar:hover {
    cursor: pointer;
}
.boton-eliminar:focus {
    outline: none;
}


.TituloCarrito {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10%;
  box-shadow: 0px 5px 4px 3px rgba(0, 0, 0, 0.3);
  margin-bottom: 20px;
}

.FondoCompra{
  background-color: #75a168;
}